

[zl-tag].zl-tag{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: #666666;
  background: #FFFFFF;
  user-select: none;
  transition: all 0.5s;
  &.active{
    color: $--color-primary;
  }
  &:hover{
    .close-icon{
      visibility: visible;
    }
  }
  .close-icon{
    visibility: hidden;
    margin-left: 8px;
  }
}